* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

#title {
    color: tomato;
    font-weight: normal;
    font-size: 45px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
    transition-duration: .2s;
}